[Unit]
Description=Shutdown Monitor
After=multi-user.target

[Service]
Type=Simple
ExecStart=/usr/bin/shutdown_monitor.py
RestartSec=1min

[Install]
WantedBy=multi-user.target